<div class="container mt-2">

  <!-- <pre>{{ vehicles | json }}</pre> -->

    <!-- Фільтри -->
    <div class="row mb-3">
      <div class="col-md-3">
        <input type="text" class="form-control" [(ngModel)]="filters.brand" placeholder="Фільтр за брендом">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" [(ngModel)]="filters.model" placeholder="Фільтр за моделлю">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" [(ngModel)]="filters.vin" placeholder="🔍 Пошук за VIN">
      </div>
    </div>

    <div class="table-responsive-scroll">
      <table class="table table-bordered table-hover text-nowrap align-middle">
        <thead>
          <tr>
            <th *ngFor="let column of columns" (click)="sortData(column.key)" style="white-space: nowrap; cursor: pointer;">
              {{ column.label }}
              <i 
                class="ms-1" 
                [ngClass]="{
                  'bi bi-caret-up-fill': sortColumn === column.key && sortDirection === 'asc',
                  'bi bi-caret-down-fill': sortColumn === column.key && sortDirection === 'desc',
                  'bi bi-caret-down': sortColumn !== column.key
                }">
              </i>
            </th>
            <th>Дії</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of paginatedVehicles">
            <td>{{ vehicle.id }}</td>
            <td>{{ vehicle.model }}</td>
            <td>{{ vehicle.brand }}</td>
            <td>{{ vehicle.vinNumber }}</td>
            <td>
              <button class="btn btn-sm btn-outline-primary" (click)="onEdit(vehicle)">
                <i class="bi bi-pencil"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Пагінація -->
    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="changePage(currentPage - 1)">Попередня</a>
        </li>
        <li class="page-item" *ngFor="let page of totalPagesArray()" [class.active]="page === currentPage">
          <a class="page-link" (click)="changePage(page)">{{ page }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="changePage(currentPage + 1)">Наступна</a>
        </li>
      </ul>
    </nav>
  </div>
  