<div class="mb-4">
    <h5 class="mb-4">Персональна Інформація</h5>
    <div class="row g-3">
        <div class="col-md-6">
            <label class="form-label">Імʼя</label>
            <input type="text" class="form-control" [(ngModel)]="userFirstName" (ngModelChange)="checkForChanges()">
        </div>
        <div class="col-md-6">
            <label class="form-label">Прізвище</label>
            <input type="text" class="form-control" [(ngModel)]="userLastName" (ngModelChange)="checkForChanges()">
        </div>
        <div class="col-md-6">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" [(ngModel)]="userEmail" (ngModelChange)="checkForChanges()">
        </div>
        <div class="col-md-6">
            <label class="form-label">Телефон</label>
            <input type="tel" class="form-control" [(ngModel)]="userPhone" (ngModelChange)="checkForChanges()">
        </div>
        <button class="btn btn-primary mt-3" *ngIf="formChanged" (click)="saveChanges()">Зберегти</button>          
    </div>
</div>