<div class="mb-4">
    <h5 class="mb-4">Персональна Інформація</h5>
    <div class="row g-3">
        <div class="col-md-6">
            <label class="form-label">Імʼя</label>
            <input type="text" class="form-control" value="Анна">
        </div>
        <div class="col-md-6">
            <label class="form-label">Прізвище</label>
            <input type="text" class="form-control" value="Баканіна">
        </div>
        <div class="col-md-6">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" value="anna.bakanina@cargo.com">
        </div>
        <div class="col-md-6">
            <label class="form-label">Телефон</label>
            <input type="tel" class="form-control" value="+38 (099) 076-4567">
        </div>
    </div>
</div>