<div class="d-flex justify-content-center mt-5 mb-5">

  
    <form #form="ngForm" (ngSubmit)="onSubmit()" class="w-100" style="max-width: 80%;" novalidate>

      <button type="button" class="btn-close position-absolute end-0 me-5 md-10" aria-label="Закрити"></button>
      
      <h3 class="mb-4 text-center">Редагування</h3>
      
      <!-- <p> {{ vehicle | json}} </p> -->
      <!-- <p>Типи: {{ models | json }}</p> -->

      <div class="mb-3 position-relative">
        <label for="carType" class="form-label">Тип авто:</label>
        <div class="d-flex align-items-center border-bottom">
            <select class="form-select border-0 shadow-none px-0 ps-3" id="carTypeId" [(ngModel)]="vehicle.carTypeId" name="carTypeId">
              <option *ngFor="let type of carTypes" [value]="type.id">{{ type.name }}</option>
            </select>
            <button type="button" class="btn btn-link p-0 ms-2" aria-label="Edit">
              <i class="bi bi-pencil"></i>
            </button>
          </div>
      </div>

      <div class="mb-3 position-relative">
        <label for="carType" class="form-label">Бренд авто:</label>
        <div class="d-flex align-items-center border-bottom">
            <select class="form-select border-0 shadow-none px-0 ps-3" id="brandId" [(ngModel)]="selectedBrandId" name="brandId">
              <option *ngFor="let type of brands" [value]="type.id">{{ type.name }}</option>
            </select>
            <button type="button" class="btn btn-link p-0 ms-2" aria-label="Edit">
              <i class="bi bi-pencil"></i>
            </button>
          </div>
      </div>

      <div class="mb-3 position-relative">
        <label for="carType" class="form-label">Модель авто:</label>
        <div class="d-flex align-items-center border-bottom">
            <select class="form-select border-0 shadow-none px-0 ps-3" id="modelId" [(ngModel)]="vehicle.modelId" name="modelId" (change)=onBrandChange()>
              <option *ngFor="let type of models" [value]="type.id">{{ type.name }}</option>
            </select>
            <button type="button" class="btn btn-link p-0 ms-2" aria-label="Edit">
              <i class="bi bi-pencil"></i>
            </button>
          </div>
      </div>

      <div class="mb-3 position-relative">
        <label for="vinNumber" class="form-label">Рік випуску:</label>
        <div class="d-flex align-items-center border-bottom">
          <input type="text" class="form-control border-0 shadow-none px-0 ps-3" id="yearOfRelease" [(ngModel)]="vehicle.yearOfRelease" name="yearOfRelease" placeholder="Введіть рік випуску"/>
          <button type="button" class="btn btn-link p-0 ms-2" aria-label="Edit">
            <i class="bi bi-pencil"></i>
          </button>
        </div>
      </div>
  
      <div class="mb-3 position-relative">
        <label for="vinNumber" class="form-label">VIN номер:</label>
        <div class="d-flex align-items-center border-bottom" [ngClass]="{'border-danger': vinNumber.invalid && vinNumber.touched}">
          <input type="text" class="form-control border-0 shadow-none px-0 ps-3" id="vinNumber" [(ngModel)]="vehicle.vinNumber" required #vinNumber="ngModel" name="vinNumber" placeholder="Введіть VIN номер"/>
          <button type="button" class="btn btn-link p-0 ms-2" aria-label="Edit">
            <i class="bi bi-pencil"></i>
          </button>
        </div>
        <div *ngIf="editForm.get('vinNumber')?.invalid && editForm.get('vinNumber')?.touched" style="color: red; font-size: 0.875rem;">
          Поле обов'язкове
        </div>
      </div>

      <div class="mb-3 position-relative">
        <label for="vinNumber" class="form-label">Пробіг:</label>
        <div class="d-flex align-items-center border-bottom">
          <input type="text" class="form-control border-0 shadow-none px-0 ps-3" id="carMileage" [(ngModel)]="vehicle.carMileage" name="carMileage" placeholder="Введіть пробіг"/>
          <button type="button" class="btn btn-link p-0 ms-2" aria-label="Edit">
            <i class="bi bi-pencil"></i>
          </button>
        </div>
      </div>

      <div class="mb-3 position-relative">
        <label for="carType" class="form-label">Технічний стан:</label>
        <div class="d-flex align-items-center border-bottom">
            <select class="form-select border-0 shadow-none px-0 ps-3" id="techStateId" [(ngModel)]="vehicle.techStateId" name="techStateId">
              <option *ngFor="let type of techState" [value]="type.id">{{ type.name }}</option>
            </select>
            <button type="button" class="btn btn-link p-0 ms-2" aria-label="Edit">
              <i class="bi bi-pencil"></i>
            </button>
          </div>
      </div>

      <div class="mb-3 position-relative">
        <label for="carDescription" class="form-label">Опис:</label>
        <div class="d-flex align-items-center border-bottom">
          <textarea class="form-control border-0 shadow-none px-0 ps-3" id="description" [(ngModel)]="vehicle.description" name="description" rows="3"></textarea>
          <button type="button" class="btn btn-link p-0 ms-2" aria-label="Edit">
            <i class="bi bi-pencil"></i>
          </button>
        </div>
      </div>
      
      <div class="mb-3 position-relative">
        <label for="numberField" class="form-label">Ціна:</label>
        <div class="d-flex align-items-center border-bottom">
          <input type="number" class="form-control border-0 shadow-none px-0 ps-3" id="numberField" placeholder="Введіть ціну" [(ngModel)]="vehicle.price" name="price"/>
          <button type="button" class="btn btn-link p-0 ms-2" aria-label="Edit">
            <i class="bi bi-pencil"></i>
          </button>
        </div>
      </div>
      
      <div class="mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="isAuction" value="option1" [(ngModel)]="vehicle.isAuction" name="isAuction">
          <label class="form-check-label" for="isAuction">Можливий торг</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="isTaxable" value="option2" [(ngModel)]="vehicle.isTaxable" name="isTaxable">
          <label class="form-check-label" for="isTaxable">Нерозмитнений</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="isPaymentInParts" value="option3" [(ngModel)]="vehicle.isPaymentInParts" name="isPaymentInParts">
          <label class="form-check-label" for="isPaymentInParts">Можлива оплата частинами</label>
        </div>
      </div>
      
      <!-- <div class="mb-4 position-relative">
        <label for="formFile" class="form-label">Завантажити фото</label>
        <div class="d-flex align-items-center border-bottom pb-2">
          <input class="form-control border-0 shadow-none px-0 ps-3" type="file" id="formFile" style="visibility: hidden;">
          <button type="button" class="btn btn-outline-primary p-2" aria-label="Choose File" onclick="document.getElementById('formFile').click()">
            <i class="bi bi-upload"></i> Вибрати файл
          </button>
          <button type="button" class="btn btn-link p-0 ms-2" aria-label="Edit">
            <i class="bi bi-pencil"></i>
          </button>
        </div>
        <small class="text-muted mt-2">Виберіть файл з вашого пристрою.</small>
      </div> -->
      
      <div class="mb-3 position-relative">
        <label for="phoneField" class="form-label">Номер телефону</label>
        <div class="d-flex align-items-center border-bottom">
          <input type="tel" class="form-control border-0 shadow-none px-0 ps-3" id="phoneNumber" [(ngModel)]="vehicle.phoneNumber" name="phoneNumber" placeholder="Введіть номер телефону">
          <button type="button" class="btn btn-link p-0 ms-2" aria-label="Edit">
            <i class="bi bi-pencil"></i>
          </button>
        </div>
      </div>
      
      <div class="mb-3 position-relative">
        <label for="carType" class="form-label">Регіон:</label>
        <div class="d-flex align-items-center border-bottom">
            <select class="form-select border-0 shadow-none px-0 ps-3" id="regionId" [(ngModel)]="selectedRegionId" name="regionId">
              <option *ngFor="let type of regions" [value]="type.id">{{ type.name }}</option>
            </select>
            <button type="button" class="btn btn-link p-0 ms-2" aria-label="Edit">
              <i class="bi bi-pencil"></i>
            </button>
          </div>
      </div>
      
      <div class="mb-3 position-relative">
        <label for="carType" class="form-label">Місто:</label>
        <div class="d-flex align-items-center border-bottom">
            <select class="form-select border-0 shadow-none px-0 ps-3" id="cityId" [(ngModel)]="vehicle.cityId" name="cityId">
              <option *ngFor="let type of cities" [value]="type.id">{{ type.name }}</option>
            </select>
            <button type="button" class="btn btn-link p-0 ms-2" aria-label="Edit">
              <i class="bi bi-pencil"></i>
            </button>
          </div>
      </div>

      <div class="mb-3 position-relative">
        <label for="carType" class="form-label">Статус оголошення:</label>
        <div class="d-flex align-items-center border-bottom">
            <select class="form-select border-0 shadow-none px-0 ps-3" id="adStatusId" [(ngModel)]="vehicle.advertisementStatusId" name="adStatusId">
              <option *ngFor="let status of adStatuses" [value]="status.id">{{ status.name }}</option>
            </select>
            <button type="button" class="btn btn-link p-0 ms-2" aria-label="Edit">
              <i class="bi bi-pencil"></i>
            </button>
          </div>
      </div>
  
      <div class="text-center mt-4 px-4 d-flex justify-content-center gap-3">
        <button class="btn btn-primary" type="submit">Зберегти зміни</button>
        <button class="btn btn-danger" type="button" (click)="openDeleteModal()">Видалити оголошення</button>

        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" #deleteModal>
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header bg-danger text-white">
                <button type="button" class="btn-close btn-close-white" aria-label="Закрити" (click)="closeDeleteModal()"></button>
              </div>
              <div class="modal-body">
                <p class="mb-0">Ви впевнені, що хочете видалити це оголошення?</p>
              </div>
              <div class="modal-footer text-center me-4 px-4 d-flex justify-content-center gap-3">
                <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Відмінити</button>
                <button type="button" class="btn btn-danger" (click)="confirmDelete()">Видалити</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  