<div class="mb-3">
    <input type="text" class="form-control w-auto" placeholder="🔍 Пошук за прізвищем" [(ngModel)]="searchTerm"/>
  </div>
  
  <div class="table-responsive-scroll">
    <table class="table table-bordered table-hover text-nowrap align-middle">
      <thead>
        <tr>
          <th *ngFor="let column of columns" (click)="sortBy(column.key)" style="white-space: nowrap; cursor: pointer;">
            {{ column.label }}
            <i 
              class="ms-1" 
              [ngClass]="{
                'bi bi-caret-up-fill': sortColumn === column.key && sortDirection === 'asc',
                'bi bi-caret-down-fill': sortColumn === column.key && sortDirection === 'desc',
                'bi bi-caret-down': sortColumn !== column.key
              }">
            </i>
          </th>
          <th>Дії</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>
            <button class="btn btn-sm btn-outline-primary" (click)="openPopup(user)">
              <i class="bi bi-pencil"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-edit-user-popup *ngIf="isPopupOpen" [user]="selectedUser" (onClose)="closePopup()"></app-edit-user-popup>
  