<div class="container mt-4">
    <div class="row">
      <!-- Left Sidebar: Filters -->
      <div class="col-md-3">
        <div class="p-3 bg-light rounded shadow-sm">
          <h5 class="text-primary">Фільтри</h5>
          <div class="mb-3 mt-3">
            <label class="form-label">Тип авто:</label>
            <select id="carType" name="carType" type="text" class="form-select" [(ngModel)]="carTypes">
              <option value=""></option>
              <option *ngFor="let t of carTypes" value="{{ t.id }}">{{ t.name }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Бренд авто:</label>
            <select id="vehicle" name="vehicle" type="text" class="form-select" [(ngModel)]="filter.brandId" (change)="onFilterChange()">
              <option value=""></option>
              <option *ngFor="let b of brands" value="{{ b.id }}">{{ b.name }}</option>
            </select>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="priceFrom" class="form-label">Пробіг від:</label>
              <input type="number" class="form-control" id="carMileageFrom" [(ngModel)]="filter.carMileageFrom" placeholder="Напр. 10000">
            </div>
            <div class="col-md-6">
              <label for="priceTo" class="form-label">Пробіг до:</label>
              <input type="number" class="form-control" id="carMileageTo" [(ngModel)]="filter.carMileageTo" placeholder="Напр. 50000">
            </div>
          </div>
          <div class="mb-3">
            <label for="vehicle" class="form-label">Технічний стан:</label>
            <select id="vehicle" name="vehicle" type="text" class="form-select" [(ngModel)]="techState">
              <option value=""></option>
              <option *ngFor="let t of techState" value="{{ t.id }}">{{ t.name }}</option>
            </select>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="priceFrom" class="form-label">Ціна від:</label>
              <input type="number" class="form-control" id="priceFrom" [(ngModel)]="filter.priceFrom" placeholder="Напр. 10000">
            </div>
            <div class="col-md-6">
              <label for="priceTo" class="form-label">Ціна до:</label>
              <input type="number" class="form-control" id="priceTo" [(ngModel)]="filter.priceTo" placeholder="Напр. 50000">
            </div>
          </div>          
          <div class="mb-3">
            <label for="vehicle" class="form-label">Регіон:</label>
            <select id="vehicle" name="vehicle" type="text" class="form-select" [(ngModel)]="filter.regionId" (change)=onRegionChange()>
              <option value=""></option>
              <option *ngFor="let r of regions" value="{{ r.id }}">{{ r.name }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="vehicle" class="form-label">Місто:</label>
            <select id="vehicle" name="vehicle" type="text" class="form-select" [(ngModel)]="filter.cityId">
              <option value=""></option>
              <option *ngFor="let c of cities" value="{{ c.id }}">{{ c.name }}</option>
            </select>
          </div>
          <button class="btn btn-primary w-100">Фільтрувати</button>
          <button class="btn btn-primary mt-2 w-100">Очистити</button>
        </div>
      </div>
  
      <!-- Right Content: Catalog -->
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4 mb-4" *ngFor="let vehicle of apiVehicles">
            <div class="card">
              <!-- <img [src]="vehicle.image" class="card-img-top" alt="Vehicle Image"> -->
              <div class="card-body">
                <h5 class="card-title">{{ vehicle.brand.name }} {{ vehicle.model.name }} | {{ vehicle.carType.name }}</h5>
                <p class="card-text">{{ vehicle.carMileage }} тис. км</p>
                <p class="card-text">{{ vehicle.price }} $</p>
                <button class="btn btn-outline-primary" (click)="openPopup(vehicle)">Детальніше</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  <app-vehicle-info-popup *ngIf="isPopupOpen" [vehicle]="selectedVehicle" (onClose)="closePopup()"></app-vehicle-info-popup>

  