<div class="container mt-5 vh-100"> <!-- vh100 helped to unstick footer -->
    <h2 class="text-primary">Add New Vehicle</h2>
    <form class="p-4 border rounded bg-light">
      <div class="mb-3">
        <label for="vehicle" class="form-label">Vehicle Type:</label>
        <select id="vehicle" name="vehicle" type="text" class="form-select"></select>
      </div>
      <div class="mb-3">
        <label for="vehicle" class="form-label">Brand:</label>
        <select id="vehicle" name="vehicle" type="text" class="form-select" [(ngModel)]="vehicle.make" (change)=onBrandChange()>
          <option value=""></option>
          <option *ngFor="let b of brands" value="{{ b.id }}">{{ b.name }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="vehicle" class="form-label">Model:</label>
        <select id="vehicle" name="vehicle" type="text" class="form-select">
          <option value=""></option>
          <option *ngFor="let m of models" value="{{ m.id }}">{{ m.name }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">Add Photos</label>
        <input class="form-control" type="file" id="formFile">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  