<div class="contact3 py-5">
    <div class="row no-gutters">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="card-shadow mt-3">
              <img src="contact-image.jpg" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="contact-box ml-3">
              <h1 class="font-weight-light mt-5">Звʼяжіться з нами</h1>
              <form class="mt-4" #contactForm="ngForm" (submit)="sendEmail($event, contactForm)">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group mt-2">
                      <input class="form-control" type="text" name="user_name" ngModel placeholder="Імʼя" required />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group mt-2">
                      <input class="form-control" type="email" name="user_email" ngModel placeholder="Електронна адреса" required />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group mt-2">
                      <input class="form-control" type="text" name="user_phone" ngModel placeholder="Телефон" required />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group mt-2">
                      <textarea class="form-control" rows="3" name="user_message" ngModel placeholder="Повідомлення" required></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12 mt-2">
                    <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Відправити</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="card mt-4 border-0 mb-4">
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="card-body d-flex align-items-center c-detail pl-0">
                    <div class="me-3 align-self-center">
                      <img src="/address-contact-icon.png">
                    </div>
                    <div>
                      <p class="font-weight-medium">вул. Леонтовича, 6
                        <br> Київ, Україна</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="card-body d-flex align-items-center c-detail">
                    <div class="me-3 align-self-center">
                      <img src="/telephone-icon.png">
                    </div>
                    <div>
                      <p> +38 (099) 251 546
                        <br> +38 (099) 289 416</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="card-body d-flex align-items-center c-detail">
                    <div class="me-3 align-self-center">
                      <img src="/mail-icon.png">
                    </div>
                    <div>
                      <p> {{ contactEmail }} </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
