<!-- https://jsfiddle.net/wrappixel/s817jand/ -->
<div class="contact3 py-5">
    <div class="row no-gutters">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="card-shadow mt-3">
              <img src="contact-image.jpg" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="contact-box ml-3">
              <h1 class="font-weight-light mt-5">Звʼяжіться з нами</h1>
              <form class="mt-4">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group mt-2">
                      <input class="form-control" type="text" placeholder="Імʼя">
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group mt-2">
                      <input class="form-control" type="email" placeholder="Електронна адреса">
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group mt-2">
                      <input class="form-control" type="text" placeholder="Телефон">
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group mt-2">
                      <textarea class="form-control" rows="3" placeholder="Повідомлення"></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary mt-3 text-white border-0 px-3 py-2"><span> Відправити</span></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="card mt-4 border-0 mb-4">
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="card-body d-flex align-items-center c-detail pl-0">
                    <div class="me-3 align-self-center">
                      <!-- <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon1.png"> -->
                      <img src="/address-contact-icon.png">
                    </div>
                    <div class="">
                      <p class="font-weight-medium">601 Sherwood Ave.
                        <br> San Bernandino</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="card-body d-flex align-items-center c-detail">
                    <div class="me-3 align-self-center">
                      <!-- <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon2.png"> -->
                      <img src="/telephone-icon.png">
                    </div>
                    <div class="">
                      <p class=""> +38 (099) 251 546
                        <br> +38 (099) 251 546</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="card-body d-flex align-items-center c-detail">
                    <div class="me-3 align-self-center">
                      <!-- <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon3.png"> -->
                      <img src="/mail-icon.png">
                    </div>
                    <div class="">
                      <p class=""> info <br> 123rappixel.com
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
